﻿
@{
    ViewBag.Title = "SaveGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
<br/>
<div ng-app="app" ng-controller="CategoryController">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Create Parties / Suppliers Information<span style="color: green;">{{message}}</span></h2>
        </div>
        <div class="panel-body">
            <table style="width: 100%;">
                <tr>

                    <td>
                        <label for="ddlGroup">Group </label>
                        <select class="form-control" ng-model="group.GroupNm" id="ddlGroup">
                            <option>Party</option>
                            <option>Supplier</option>
                        </select>
                    </td>


                    <td>
                        <label for="txtPartyNm">{{group.GroupNm}} </label>
                        <input type="text" ng-model="group.PartyNm" class="form-control" id="txtPartyNm"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label for="txtAddress">Address </label><input type="text" ng-model="group.Address" class="form-control" id="txtAddress"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="txtTelephoneNo">Telephone No </label><input type="text" ng-model="group.TelephoneNo" class="form-control" id="txtTelephoneNo"/>
                    </td>
                    <td>
                        <label for="txtMobileNo">Mobile No </label><input type="text" ng-model="group.MobileNo" class="form-control" id="txtMobileNo"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label for="txtEmail">Email </label><input type="email" ng-model="group.Email" class="form-control" id="txtEmail"/>
                    </td>
                </tr>
                <tr>
                    <td colsapn="2">
                        <label for="txtWebAddress">Web Address </label><input type="text" ng-model="group.WebAddress" class="form-control col-md-12" id="txtWebAddress"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="txtContactPersonNm">Contact Person Name </label><input type="text" ng-model="group.ContactPersonNm" class="form-control" id="txtContactPersonNm"/>
                    </td>
                    <td>
                        <label for="txtContactMobileNo">Contact Mobile No </label><input type="text" ng-model="group.ContactMobileNo" class="form-control" id="txtContactMobileNo"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label for="txtRemark">Remark </label><input type="text" ng-model="group.Remark" class="form-control" id="txtRemark"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="button" ng-click="SaveGroup()" class="btn btn-primary">Add</button>
                    </td>
                </tr>
                
            </table>

        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="~/Scripts/AngularController/MyAngular.js"></script>