﻿
@{
    ViewBag.Title = "SaveItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SaveItem</h2>

<html>
<head>
    <title></title>
</head>
<body>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>

    

</body>
</html>