﻿<!DOCTYPE html>
<html>
<head>
    <title>Demo</title>
    
</head>
<body>
<br/>
<br/>
    <div ng-app="app" ng-controller="CategoryController">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Item Information <span style="color: green;">{{message}}</span></h2>
            </div>
            <div class="panel-body">
                <table>
                    <tr>
                        <td><label for="txtCategoryNm">Category: </label></td>
                        <td><input type="text" ng-model="category.CategoryName" class="form-control" id="txtCategoryNm" placeholder="Category"></td>
                        <td><button type="button" ng-click="SaveData()" class="btn btn-primary">Submit</button></td>
                    </tr>
                </table>
                
                <br/>
                <br/>
                <div ng-show="IsVisibleForm">
                    <table>
                        <tr>
                            <td>
                                <input type="number" ng-model="catId" ng-value="catId" id="catId" hidden/>
                                <div class="form-group">
                                    <label for="txtItemNm">Item Name</label>
                                    <input type="text" ng-model="item.ItemName" class="form-control" id="txtItemNm" required>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label for="txtBrandNm">Brand</label>
                                    <input type="text" ng-model="item.BrandName" class="form-control" id="txtBrandNm" required>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label for="txtUnit">Unit</label>
                                    <input type="text" ng-model="item.Unit" class="form-control" id="txtUnit" required>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label for="txtBuyRt">Buy Rate</label>
                                    <input type="text" ng-model="item.BuyRate" class="form-control" id="txtBuyRt" ng-init="item.BuyRate=0">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label for="txtSaleRt">Sale Rate</label>
                                    <input type="text" ng-model="item.SaleRate" class="form-control" id="txtSaleRt" ng-init="item.SaleRate=0">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label for="txtQty">Qty(Min)</label>
                                    <input type="text" ng-model="item.Qty" class="form-control" id="txtQty" ng-init="item.Qty=0">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label for="txtDiscount">Discount</label>
                                    <input type="text" ng-model="item.Discount" class="form-control" id="txtDiscount" ng-init="item.Discount=0">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label for="txtPCQty">P/C.Qty</label>
                                    <input type="text" ng-model="item.PCQty" class="form-control" id="txtPCQty" ng-init="item.PCQty=0">
                                </div>
                            </td>
                            <td>
                                <button type="button" ng-click="SaveItem();ShowItemTable();LoadData()" class="btn btn-primary">Add</button>
                            </td>
                        </tr>

                    </table>
                </div>
                

                <br/>
                <br/>
                <table class="table table-hover" ng-show="IsVisibleItemTable">
                    <thead>
                        <tr>
                            <th>Item Name</th>
                            <th>Brand</th>
                            <th>Unit</th>
                            <th>Buy Rate</th>
                            <th>Sale Rate</th>
                            <th>Stock Minimum</th>
                            <th>Discount</th>
                            <th>P/C Qty</th>
                            <th>Action</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="x in AllItem">
                        <td>
                            <input type="text" id="txtItemId" ng-model="x.ItemId" hidden/>
                            <span ng-show="!x.display">{{ x.ItemName }}</span>
                            <input type="text" ng-show="x.display" ng-model="x.ItemName" class="form-control input-sm" id="txtItemNm"/>
                        </td>
                        <td>
                            <span ng-show="!x.display">{{ x.BrandName }}</span>
                            <input type="text" ng-show="x.display" ng-model="x.BrandName" class="form-control input-sm" id="txtBrandNm"/>
                        </td>
                        <td>
                            <span ng-show="!x.display">{{ x.Unit }}</span>
                            <input type="text" ng-show="x.display" ng-model="x.Unit" class="form-control input-sm"  id="txtUnit"/>
                        </td>
                        <td>
                            <span ng-show="!x.display">{{ x.BuyRate }}</span>
                            <input type="text" ng-show="x.display" ng-model="x.BuyRate" class="form-control input-sm" id="txtBuyRt"/>
                        </td>
                        <td>
                            <span ng-show="!x.display">{{ x.SaleRate }}</span>
                            <input type="text" ng-show="x.display" ng-model="x.SaleRate" class="form-control input-sm" id="txtSaleRt"/>
                        </td>
                        <td>
                            <span ng-show="!x.display">{{ x.Qty }}</span>
                            <input type="text" ng-show="x.display" ng-model="x.Qty" class="form-control input-sm" id="txtQty"/>
                        </td>
                        <td>
                            <span  ng-show="!x.display">{{ x.Discount }}</span>
                            <input type="text" ng-show="x.display" ng-model="x.Discount" class="form-control input-sm" id="txtDiscount"/>
                        </td>
                        <td>
                            <span  ng-show="!x.display">{{ x.PCQty }}</span>
                            <input type="text" ng-show="x.display" ng-model="x.PCQty" class="form-control input-sm" id="txtPCQty"/>
                        </td>
                        <td>
                            <span ng-show="x.display">
                                <button type="button" class="btn btn-primary btn-md" ng-click="EditData(x);UpdateItem(x)"><span class="glyphicon glyphicon-ok"></span></button>
                                <button type="button" class="btn btn-danger btn-md"><span class="glyphicon glyphicon-remove" ng-click="EditData(x);UpdateCancel()"></span></button>
                             </span>
                            <button type="button" ng-show="!x.display" class="btn btn-primary btn-md" ng-click="EditData(x)"><span class="glyphicon glyphicon-edit"></span></button>
                            <button type="button" ng-show="!x.display" class="btn btn-danger btn-md"><span class="glyphicon glyphicon-trash" ng-click="DeleteItem(x)"></span></button>
                        </td>

                    </tr>                 
                    </tbody>
                </table>





            </div>
        </div>
    </div>







<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="~/Scripts/AngularController/MyAngular.js"></script>
@*<script src="~/Scripts/AngularController/CategoryAngular.js"></script>*@
    @*<script src="~/Scripts/AngularController/ItemAngular.js"></script>*@
</body>
</html>

