﻿
@{
    ViewBag.Title = "Purchase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<div class="panel panel-default" ng-app="app" ng-controller="PurchaseController" ng-init="DiscountParcent=0;Quantity=0; Total=0">
    <div class="panel-heading">Purchase Information-(Create)</div>
    <div class="panel-body">
        <table align="center">
            <tr>
                <td>
                    <label for="txtDate">Date</label>
                    @*<input type="date" class="form-control" ng-model="s.date" id="txtDate" ng-change="GetYear(s);LoadCategory()"><span class="gliphicon-calender"></span>*@
                    <input type="date" class="form-control date" placeholder="dd/mm/yyyy" ng-model="s.date" id="txtDate" ng-change="GetYear(s);LoadCategory()"><span class="gliphicon-calender"></span>
                </td>
                <td>
                    <label for="txtYear">Year</label>
                    <input type="text" class="form-control" id="txtYear" ng-model="SelectedYear | date : 'y'" disabled>
                </td>
                <td>
                    <label for="txtMemoNo">Memo No</label>
                    <input type="text" class="form-control" ng-model="MemoNo" id="txtMemoNo" disabled>
                </td>
                <td>
                    <label for="ddlStoreTo">Store To</label>
                    <select class="form-control" id="ddlStoreTo" ng-model="s.StoreId" ng-init="LoadStoreInfo()">
                        <option>--Select--</option>
                        <option ng-value="s.StoreId" ng-repeat="s in AllStoreInfo">{{s.StoreName}}</option>
                    </select>
                </td>
                <td>
                    <label for="ddlSupplier">Supplier </label>
                    <select class="form-control" id="ddlSupplier" ng-model="y.GroupId" ng-init="LoadSupplierInfo()">
                        <option>--Select--</option>
                        <option ng-value="y.GroupId" ng-repeat="y in AllSupplierInfo">{{y.PartyNm}}</option>
                    </select>
                </td>
            </tr>
        </table>
        <br />
        <br />
        <table align="center">
            <tr>
                <td style="width: 10%;">
                    <label for="ddlCategory">Category</label>
                    <select class="form-control" id="ddlCategory" ng-change="LoadItemInfoByCatId()" ng-model="c.CategoryId">
                        <option ng-repeat="c in AllCategory" ng-value="c.CategoryId"> {{c.CategoryName}} </option>
                    </select>
                </td>
                <td style="width: 10%;">
                    <label for="txtItemName">Item Name</label>
                    <select class="form-control" id="ddlItemFromStock" ng-model="i.ItemId" ng-change="LoadItemInfoByItemId()">
                        <option ng-repeat="i in Items" ng-value="i.ItemId"> {{i.ItemName}} </option>
                    </select>

                </td>
                <td>
                    <label for="txtQuantity">Quantity</label>
                    <input type="text" class="form-control" ng-model="Quantity" id="txtQuantity">
                </td>
                <td>
                    <label for="txtRate">Rate</label>
                    <input type="text" class="form-control" ng-model="ItemInfos.SaleRate" id="txtRate" disabled>
                </td>
                <td>
                    <label for="txtAmount">Amount</label>
                    <input type="text" class="form-control" ng-value="ItemInfos.SaleRate*Quantity" id="txtAmount" disabled>
                    @*<p>{{ItemInfos.SaleRate*Quantity}}</p>
                        <input type="text" class="form-control" ng-value="ItemInfos.SaleRate*Quantity"/>*@

                </td>
                <td>
                    <label for="txtDiscountParcent">Discount(%)</label>
                    <input type="text" class="form-control" ng-model="DiscountParcent" id="txtDiscountParcent">
                </td>
                <td>
                    <label for="txtDiscount">Discount</label>
                    <input type="text" class="form-control" ng-value="(ItemInfos.SaleRate*DiscountParcent)/100" id="txtDiscount" disabled>
                    @*<p>{{(ItemInfos.SaleRate*DiscountParcent)/100}}</p>*@
                </td>
                <td>
                    <label for="txtGrossAmount">Gross Amount</label>
                    <input type="text" class="form-control" ng-value="(ItemInfos.SaleRate*Quantity)-((ItemInfos.SaleRate*DiscountParcent)/100)" id="txtGrossAmount" disabled>
                    @*<p>{{(ItemInfos.SaleRate*Quantity)-((ItemInfos.SaleRate*DiscountParcent)/100)}}</p>*@
                </td>
            </tr>
            <tr>
                <td colspan="8" align="right">
                    @*<button type="button" class="btn btn-primary" id="btnAdd" ng-click="SaveItemDataInMStock()">Add</button>*@
                    <button type="button" class="btn btn-primary" id="btnAdd" ng-click="SaveItemDataInStock()">Add</button>
                </td>
            </tr>
        </table>
        <br />
        <br />
        <table class="table table-hover" ng-show="IsVisibleItemTable">
            <thead>
                <tr>
                    <th>SL</th>
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th>Amount</th>
                    <th>Discount Amount</th>
                    <th>Gross Amount</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in PurchaseInfo">
                    <td>
                        <input type="text" id="txtSL" ng-model="x.ItemSL" hidden />
                        <input type="text" id="txtCategoryId" ng-model="x.CategoryId" hidden />
                        <span ng-show="!x.display">{{ x.ItemSL }}</span>
                        <input type="text" ng-show="x.display" ng-model="x.ItemSL" class="form-control input-sm" id="txtSL" readonly />
                    </td>
                    <td>
                        <span ng-show="!x.display">{{ x.ItemName }}</span>
                        <select ng-show="x.display" class="form-control" id="ddlItemNmE" ng-model="x.ItemId" ng-change="LoadItemInfoForUpdateInPurchaseTbl(x)">
                            <option ng-repeat="x in Items" ng-value="x.ItemId"> {{x.ItemName}}</option>
                        </select>
                    </td>
                    <td>
                        <span ng-show="!x.display">{{ x.Quantity }}</span>
                        <input type="text" ng-show="x.display" ng-change="CalculateGrossAmountByQuantity(x)" ng-model="x.Quantity" class="form-control input-sm" id="txtQuantityT" />
                    </td>
                    <td>
                        <span ng-show="!x.display">{{ x.Amount }}</span>
                        
                        <input type="text" ng-show="x.display"  ng-model="x.Amount" class="form-control input-sm" id="txtAmountT"/>
                        
                    </td>
                    <td>
                        <span ng-show="!x.display">{{ x.Discount }}</span>
                        <input type="text" ng-show="x.display" ng-change="CalculateGrossAmountByDiscount()" ng-model="x.Discount" class="form-control input-sm" id="txtDiscountT" />
                    </td>
                    <td>
                        <span ng-show="!x.display">{{ x.GrossAmount }}</span>
                        
                        <input type="text" ng-show="x.display" ng-value="(x.Quantity*x.Amount)-(x.Discount)" ng-model="x.GrossAmount" class="form-control input-sm" id="txtGrossAmountT"/>
                        
                    </td>
                    <td>
                        <span ng-show="x.display">
                            <button type="button" class="btn btn-primary btn-md" ng-click="EditData(x);UpdatePurchaseInfo(x)"><span class="glyphicon glyphicon-ok"></span></button>
                            <button type="button" class="btn btn-danger btn-md"><span class="glyphicon glyphicon-remove" ng-click="EditData(x);UpdateCancel()"></span></button>
                        </span>
                        <button type="button" ng-show="!x.display" class="btn btn-primary btn-md" ng-click="EditData(x)"><span class="glyphicon glyphicon-edit"></span></button>
                        <button type="button" ng-show="!x.display" class="btn btn-danger btn-md"><span class="glyphicon glyphicon-trash" ng-click="DeletePurchaseInfo(x);UpdatePurchaseInfo(x);deleteMemoNo()"></span></button>
                    </td>

                </tr>
            </tbody>

            <tfoot>
                <tr>
                    <td colspan="3"></td>
                    <td>Total = </td>
                    <td colspan="2">
                        <p>{{totalAmountForPurchase()}}</p>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<script>
    //$('.date').datepicker({
    //    format: 'dd/mm/yyyy',
    //    startDate: '-3d'
    //});
</script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="~/Scripts/AngularController/angular.min.js"></script>
<script src="~/Scripts/AngularController/PurchaseTest.js"></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>*@