﻿
@{
    ViewBag.Title = "StoreInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
<br/>

<div ng-app="app" ng-controller="CategoryController">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Store Information <span style="color: green;">{{message}}</span></h2>
        </div>
        <div class="panel-body">
            <table>
                <tr>
                    <td><label for="txtStoreNm">Store Name </label></td>
                    <td><input type="text" ng-model="store.StoreName" class="form-control" id="txtStoreNm"></td>
                    <td><label for="txtStoreId">Store ID </label></td>
                    <td><input type="number" ng-model="store.StoreId" class="form-control" id="txtStoreId"></td>
                    <td><label for="txtRemark">Remark </label></td>
                    <td><input type="text" ng-model="store.Remark" class="form-control" id="txtRemark"></td>
                    <td><button type="button" ng-click="SaveStore()" class="btn btn-primary">Submit</button></td>
                </tr>
            </table>

            <hr/>
            <br />
            <br />
            <table class="table table-hover" ng-init="LoadStoreInfo()">
                <thead>
                    <tr>
                        <th>Store Name</th>
                        <th>Store ID</th>
                        <th>Remark</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in StoreInfos">
                        <td>
                            <input type="text" id="txtItemId" ng-model="x.Id" hidden />
                            <span ng-show="!x.display">{{ x.StoreName }}</span>
                            <input type="text" ng-show="x.display" ng-model="x.StoreName" class="form-control input-sm" id="txtItemNm" />
                        </td>
                        <td>
                            <span ng-show="!x.display">{{ x.StoreId }}</span>
                            <input type="text" ng-show="x.display" ng-model="x.StoreId" class="form-control input-sm" id="txtBrandNm" />
                        </td>
                        <td>
                            <span ng-show="!x.display">{{ x.Remark }}</span>
                            <input type="text" ng-show="x.display" ng-model="x.Remark" class="form-control input-sm" id="txtUnit" />
                        </td>
                        
                        <td>
                            <span ng-show="x.display">
                                <button type="button" class="btn btn-primary btn-md" ng-click="EditData(x);UpdateStoreInfo(x)"><span class="glyphicon glyphicon-ok"></span></button>
                                <button type="button" class="btn btn-danger btn-md"><span class="glyphicon glyphicon-remove" ng-click="EditData(x);StoreUpdateCancel()"></span></button>
                            </span>
                            <button type="button" ng-show="!x.display" class="btn btn-primary btn-md" ng-click="EditData(x)"><span class="glyphicon glyphicon-edit"></span></button>
                            <button type="button" ng-show="!x.display" class="btn btn-danger btn-md"><span class="glyphicon glyphicon-trash" ng-click="DeleteStoreInfo(x)"></span></button>
                        </td>

                    </tr>
                </tbody>
            </table>



        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="~/Scripts/AngularController/MyAngular.js"></script>
